@font-face {
    font-family: 'Gordita';
    font-weight: 700;
    src: url(../fonts/Gordita-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    src: url(../fonts/Gordita-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Gordita';
    font-weight: 400;
    src: url(../fonts/Gordita-Regular.ttf) format('truetype');
}