@import url(fonts.min.css);
@import url(header.css);
@import url(footer.min.css);

$fontFamily: "Gordita" ;
$fontSize: 18px;
$minWidth: 320 ;
$maxWidth: 1440 ;
$maxWidthContainer:1300;
$bp1: $maxWidthContainer + 12;
$bp2: 1200;
$bp3: 991.98;
$bp4: 767.98;
$bp5: 479.98;
$bp6: 375.98;
$mainColor: #303948;
$grayColor:#59616D;
$blueColor:#14213D;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize : $startSize - $minSize;
    @if $type == 1 {
        // Только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        // Только если больше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else{
        // Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

*,
*::before,
*::after{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: $fontSize;
}

.main {
    width: 100%;
	&__container { 
        max-width: $maxWidthContainer + px;
        margin: 0 auto;
        padding: 0 20px;
    }
	&__services { }
	&__process { }
	&__product { }
	&__testimonials { }
}
.client {
    margin-top: 254px;
    padding: 79px 0px 43px 0px;
    text-align: center;
	&__title { 
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 35px;
        color: $blueColor;
    }
	&__blockquote {
        font-size: 18px;
        color: $mainColor;
        margin-bottom: 59px;

     }
	&__platforms {
        img:not(:last-child){
            margin: 0 27px 0 0;
            @media (max-width: $bp6 + px) {
                margin: 0 20px 30px 20px;
            } 
        }
     }
}
.services {
    margin-top: 70px;
    display: grid;
    grid-template-areas: 
    "picture header header"
    "picture web design"
    "picture seo security";
    @include adaptiv-value("column-gap", 80, 0 , 1);
    @include adaptiv-value("row-gap", 60, 0 , 1);
    &__picblock { 
        grid-area: picture;
        @include adaptiv-value("margin-right", 40, 0 , 1);
        position: relative;
        img {
            border-radius: 35px;
            box-shadow: 33px 46px 0px 0px rgba(65, 21, 21, 0.15), 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
        }
        &::before{
            content: '';
            display: block;
            width: 186px;
            height: 186px;
            background-image: radial-gradient($blueColor 35%, transparent 35%);
            background-color: transparent;
            background-position: center center , 60px 60px;
            background-size: 14px 14px;
            position: absolute;
            top: -52px;
            right: -77px;
        }
        &::after{
            content: '';
            display: block;
            width: 150px;
            height: 150px;
            background-color: #FCA311;
            border-radius: 50%;
            position: absolute;
            top: 44%;
            left: -72px;
        }
    }
    &__header {
        grid-area: header;
        margin-top: 20px;
    }
	&__blockquote {
        color: $mainColor;
        margin-bottom: 30px;
     }
	&__title { 
        line-height: 38px;
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: 500;
    }
	&__text {
        font-weight: $grayColor;
     }
}
.specialties {
    &:nth-child(1){
        grid-area: web;
    }
    &:nth-child(2){
        grid-area: design;
    }
    &:nth-child(3){
        grid-area: seo;
    }
    &:nth-child(4){
        grid-area: security;
    }
	&__block { 
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 23px;
        }
    }
	&__pic { 
        margin-right: 20px;
    }
	&__name { 

    }
	&__text { 

    }
}
.process { }
.product { }
.testimonials { }

